{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.{js, jsx, ts, tsx}",
            "options": {
                "trailingComma": "all"
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
