NODE_ENV=
PORT=
CLIENT_URI=
MONGO_URI=
SALT_ROUNDS=
ACCESS_KEY=
REFRESH_KEY=
RESET_PSW_KEY=
ACCESS_KEY_EXPIRES_IN=
REFRESH_KEY_EXPIRES_IN=

CLIENT_PORT=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
REDIRECT_URI=
HOST_EMAIL=
HOST_PASSWORD=

CLOUD_NAME=[""]
API_KEY=[""]
API_SECRET=[""]

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
CASSO_API_URL=
CASSO_API_KEY=
CASSO_WEBHOOK_KEY=

BANK_ACC_ID=
QR_DOMAIN=

DEFAULT_THUMBNAIL=
DEFAULT_AVATAR=

ENDPOINT=
PRIVATE_KEY=

BLOCKCHAIN_EXPLORER=https://sepolia.etherscan.io/tx/
