* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    font-style: normal;
    user-select: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./SOUNDVAULT.svg);
    background-size: cover;
}

.authen {
    width: 370px;
    background-color: transparent;
}

.authen__title {
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 17px 0;
    color: #fcfcfc;
}

.authen__description {
    font-size: 18px;
    line-height: 20px;
    color: #a6a6a6;
}

.authen__description .authen__description-link {
    text-decoration: none;
    color: #8774f9;
    cursor: pointer;
}

.authen__input {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: 10px 0;
    cursor: text;
}

.authen__input-name {
    width: 100%;
    height: 100%;
    background-color: #383838;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 20px 45px 20px 20px;
    color: #fcfcfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.authen__input-name::placeholder {
    color: #a5a5a5;
    font-weight: 400;
}

.authen__input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.authen__button {
    height: 49px;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0 15px 0;
}

.authen__button-google {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fcfcfc;
    border-radius: 15px;
    margin-right: 4px;
    cursor: pointer;
}

.authen__button-google:hover {
    border-color: #2d2c30;
    background-color: #2d2c30;
}

.authen__button .authen__button-google i {
    font-size: 40px;
    color: #fcfcfc;
}



.authen__button .authen__button-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    font-size: 18px;
    flex: 1;
    height: 100%;
    border: none;
    border-radius: 12px;
    background-color: #383838;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    will-change: opacity;
}

.authen__button-signup:hover {
    opacity: 0.75;
}

.authen_accept-terms {
    font-size: 16px;
    line-height: 20px;
    color: #a6a6a6;
    margin: 5px 0;
}

.authen_accept-terms a {
    text-decoration: none;
    color: #8774f9;
    cursor: pointer;
}

.accept-terms__checkbox {
    margin-right: 3px;
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #383838;
    border: none;
}

.custom-checkbox:checked::after {
    content: '\2713';
    position: absolute;
    top: 0;
    left: 2px;
    color: white;
    font-size: 14px;
}

.authen_members {
    color: #a6a6a6;
    font-size: 15px;
    text-align: center;
    cursor: default;
}

.authen_members a {
    text-decoration: none;
    font-weight: 600;
    color: #fcfcfc;
    cursor: pointer;
}

/* Sign in */

.authen__forgot {
    color: #8774f9;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
}