@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,500;0,700;1,400&display=swap'); /* Kodchasan font */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kodchasan:ital@0;1&display=swap'); /* Italianno font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); /* Montserrat 700 font */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap'); /* Lilita One font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap'); /* Inter 600 font */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap'); /* Arimo font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); /* Alfa Slab One font */
@import url('https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css'); /* Remixicon font */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'); /* Boxicons font */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-home-pattern;
        @apply bg-cover;
        @apply text-white;
        @apply font-kodchasan;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: black;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #444;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #666;
    }
    ::-webkit-scrollbar-corner {
        background-color: #000;
    }
}

@layer utilities {
    .heading-stroke {
        text-shadow:
            -2px 0 #b352f3,
            0 2px #b352f3,
            2px 0 #b352f3,
            0 -2px #b352f3;
    }

    .input-bar:has(input:invalid) + .error-msg {
        display: flex;
    }

    .heading-stroke-logo {
        -webkit-text-stroke: 3px #b352f3;
    }
}
